:root {
  --pri-blue: #059ee4;
  --blue-light: #e6f4f1;
  --blue-dark: #002f67;
  --accent-brown: #8b5100;
  --pri-white: #f8fdf5;
  --pri-black: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Header styling */

header {
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* search area */

header .search-ctn {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.search-ctn .input-ctn {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.input-ctn label {
  color: var(--blue-dark);
}

.bx {
  font-size: 2rem;
}

.input-ctn input {
  height: 2rem;
  width: 90%;
  border-radius: 1rem;
  background-color: var(--blue-light);
  border: none;
  padding-left: 1rem;
}

.input-ctn input::placeholder {
  color: var(--blue-dark);
}

.input-ctn input:focus {
  border: none;
  outline: none;
  color: var(--blue-dark);
}

/* notification area */

.search-ctn .handle-display {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.handle-display .bx {
  color: var(--blue-dark);
}

.handle-display .bx:hover {
  transform: scale(1.2);
}

header .handle-info {
  width: 100%;
  height: 50%;
  display: flex;
}

.handle-info .profile-info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-ctn {
  background-color: var(--blue-dark);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.img-ctn img {
  width: 2rem;
}

.profile-info .profile-name {
  margin-left: 1rem;
}

.profile-info .profile-name p {
  font-size: 1rem;
}

.profile-info .profile-name h3 {
  font-size: 1.15rem;
}

.profile-name h3 span {
  color: var(--pri-blue);
}

.handle-info .btn-ctn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-ctn button {
  width: 5rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75rem;
  text-transform: capitalize;
  padding: 0.5rem;
  border: none;
  background-color: var(--blue-dark);
  color: var(--blue-light);
}

.btn-ctn button:hover {
  background-color: var(--pri-blue);
  transform: scale(1.1);
  box-shadow: 0 0 5px;
  cursor: pointer;
}

.btn-ctn button .bx {
  font-size: 1.25rem;
}

/* Side navigation styling */

aside {
  grid-area: 1 / 1 / 6 / 2;
  background-color: var(--pri-blue);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.5rem;
}

aside .logo-ctn {
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.logo-ctn img {
  width: 3rem;
  height: auto;
  margin-left: 0.5rem;
}

.logo-ctn h2 {
  color: var(--blue-light);
}

aside .navigation {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

aside .navigation ul {
  margin-left: 1rem;
}

.navigation ul li {
  padding: 0.5rem 0;
  color: var(--blue-light);
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 90%;
  border-radius: 1rem;
}

.navigation ul li:hover {
  background-color: var(--blue-dark);
  cursor: pointer;
}

ul li i {
  margin: 0 0.5rem;
}

aside a .bx-chevrons-down {
  display: none;
}

/* Main area styling */

main {
  grid-area: 2 / 2 / 6 / 6;
  background-color: var(--blue-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

main .projects {
  grid-area: 1 / 1 / 5 / 3;
  padding: 1rem;
}

main .projects h3 {
  font-size: 1.5rem;
  color: var(--blue-dark);
}

main .projects .projects-ctn {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

.projects-ctn .project1 {
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--pri-white);
}

.projects-ctn .project2 {
  grid-area: 1 / 3 / 3 / 5;
  background-color: var(--pri-white);
}

.projects-ctn .project3 {
  grid-area: 3 / 1 / 5 / 3;
  background-color: var(--pri-white);
}

.projects-ctn .project4 {
  grid-area: 3 / 3 / 5 / 5;
  background-color: var(--pri-white);
}

.project {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 15px 0 0 var(--accent-brown) inset;
  border-radius: 0 1.5rem 1.5rem 0;
}

.project .project-links {
  width: 60%;
  align-self: end;
  color: var(--blue-dark);
  display: flex;
  justify-content: space-evenly;
}

.project-links .bx {
  background-color: var(--pri-blue);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
}

.project-links .bx:hover {
  background-color: var(--blue-dark);
  color: var(--pri-white);
}

main .other-info {
  grid-area: 1 / 3 / 5 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.other-info h3 {
  font-size: 1.5rem;
  color: var(--blue-dark);
}

.other-info .announcement {
  grid-area: 1 / 1 / 3 / 2;
  width: 100%;
  padding: 1rem;
  height: fit-content;
}

.announcement .announcement-ctn {
  width: 50%;
  height: 80%;
  border: 1px solid;
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--pri-white);
  box-shadow: 4px 4px 4px var(--accent-brown);
}

.announcement-ctn h4 {
  font-size: 0.75rem;
  color: var(--blue-dark);
}

.announcement-ctn p {
  font-size: clamp(0.5rem, 50%, 0.75rem);
  margin: 0.25rem 0;
  text-align: balance;
}

.announcement-ctn hr {
  width: 90%;
}

.other-info .trending {
  grid-area: 3 / 1 / 5 / 2;
  padding: 0 1rem;
}

.trending .trending-ctn {
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 0.5rem 1rem;
  background-color: var(--pri-white);
  border-radius: 1rem;
  box-shadow: 4px 4px 4px var(--accent-brown);
}

.trending-ctn .trend {
  display: flex;
  gap: 1rem;
}

.trend1 .img-ctn {
  background-color: rgb(252, 90, 31);
}

.trend2 .img-ctn {
  background-color: rgb(187, 247, 69);
}

.trend3 .img-ctn {
  background-color: rgb(252, 44, 252);
}

.trend4 .img-ctn {
  background-color: rgb(0, 255, 255);
}

@media (768px <= width <= 1024px) {
  body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  header {
    grid-area: 1 / 2 / 2 / 5;
  }

  .img-ctn {
    width: 2rem;
    height: 2rem;
  }

  .img-ctn img {
    width: 1.5rem;
  }

  .profile-info .profile-name {
    margin-left: 0.5rem;
  }

  .profile-info .profile-name p {
    font-size: 0.75rem;
  }

  .profile-info .profile-name h3 {
    font-size: 0.95rem;
  }

  .btn-ctn button {
    width: 4rem;
    border-radius: 1rem;
    font-size: 0.5rem;
  }

  .btn-ctn button .bx {
    font-size: 1rem;
  }

  aside {
    grid-area: 1 / 1 / 6 / 2;
  }

  .logo-ctn img {
    width: 2rem;
  }

  main {
    grid-area: 2 / 2 / 6 / 5;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  main .projects {
    grid-area: 1 / 1 / 3 / 4;
  }

  main .projects h3 {
    font-size: 1.15rem;
  }

  main .projects .projects-ctn {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .projects-ctn .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .projects-ctn .project2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .projects-ctn .project3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .projects-ctn .project4 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .project {
    height: 70%;
  }

  .project p {
    font-size: 0.75rem;
  }

  .project .project-links {
    width: 80%;
  }

  .project-links .bx {
    width: 2rem;
    height: 2rem;
  }

  main .other-info {
    grid-area: 1 / 4 / 3 / 5;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .other-info h3 {
    font-size: 1.15rem;
  }

  .other-info .announcement {
    grid-area: 1 / 1 / 2 / 2;
    height: fit-content;
  }

  .announcement .announcement-ctn {
    width: 90%;
  }

  .other-info .trending {
    grid-area: 2 / 1 / 3 / 2;
    height: 60%;
  }

  .other-info .trending-ctn {
    width: 100%;
  }

  .trending-ctn .trend {
    gap: 0.5rem;
  }

  .trend-name h4 {
    font-size: 0.75rem;
  }

  .trend-name p {
    font-size: 0.5rem;
  }
}

@media (320px <= width <= 480px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
  }

  header {
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    height: 100%;
    overflow: hidden;
    gap: 0.5rem;
  }

  header .search-ctn {
    height: 30%;
  }

  .search-ctn .input-ctn {
    width: 100%;
  }

  .input-ctn input {
    width: 78%;
  }

  .search-ctn .handle-display {
    display: none;
  }

  header .handle-info {
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
  }

  .handle-info .profile-info {
    width: 100%;
    height: 60%;
  }

  .handle-info .btn-ctn {
    width: 100%;
    height: 40%;
  }

  aside {
    grid-area: 1 / 1 / 2 / 3;
    height: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  aside .logo-ctn {
    margin: 0;
  }

  aside .navigation {
    display: none;
    width: 100%;
    top: 4.9rem;
    position: absolute;
    background-color: var(--pri-blue);
    height: calc(100dvh - 4.9rem);
    z-index: 2;
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  aside .bx-chevrons-down {
    display: block;
    font-size: 3rem;
    color: var(--blue-dark);
    margin-right: 1rem;
    border-radius: 50%;
  }

  aside .bx-chevrons-down:hover {
    background-color: var(--blue-dark);
    color: var(--blue-light);
    transition: background 0.3s ease-in-out;
  }

  aside .bx-chevrons-down.active {
    background-color: var(--blue-dark);
    color: var(--blue-light);
  }

  main {
    grid-area: 4 / 1 / 9 / 3;
    display: none;
  }

  aside .navigation ul li {
    width: 12rem;
    padding-left: 1rem;
    box-sizing: border-box;
  }

  aside .navigation ul li:hover {
    background-color: var(--blue-dark);
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }

  main {
    grid-area: 4 / 1 / 9 / 3;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  main .projects {
    grid-area: 1 / 1 / 6 / 3;
  }

  main .projects .projects-ctn {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .projects-ctn .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .projects-ctn .project2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .projects-ctn .project3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .projects-ctn .project4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  main .other-info {
    grid-area: 6 / 1 / 9 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .other-info .announcement {
    grid-area: 1 / 1 / 2 / 2;
  }

  .announcement .announcement-ctn {
    width: 100%;
    padding: 1rem;
  }

  .announcement-ctn h4 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
  }

  .announcement-ctn p {
    font-size: 1rem;
  }

  .other-info .trending {
    grid-area: 2 / 1 / 3 / 2;
  }

  .trending .trending-ctn {
    width: 100%;
  }
}
